.activity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .activity {
        width: 1400px;
        max-width: 90vw;
        height: 400px;
        background-color: white;
        box-shadow: 0 2px 16px rgba(0,0,0,0.08);
        border-radius: 16px;
        margin-right: auto;
        margin-left: auto;}
    .activity-direct {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        color: #555;
        width: 700px;
        background-color: #555;
        margin-top: -75px;
        border-radius: 16px;
    }
}

