
.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #181818;
    color: #fff;
    padding: 24px 0 12px 0;
    text-align: center;
    z-index: 100;
    box-sizing: border-box;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: #a259ff;
        box-shadow: 0 0 4px 1px #a259ffcc,
                    0 0 12px 3px #a259ff66,
                    0 0 24px 6px #a259ff33;
        border-radius: 4px 4px 0 0;
        pointer-events: none;
        z-index: 101;
    }
    .admin-icon{
        font-size: 24px;
    }
}



