.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color:rgba(140, 0, 255, 0.25);*/
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    height: 64px;
    /* Effet néon violet en bas */
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #a259ff;
        box-shadow: 0 0 4px 1px #a259ffcc,
                    0 0 12px 3px #a259ff66,
                    0 0 24px 6px #a259ff33;
        border-radius: 0 0 4px 4px;
        pointer-events: none;
        z-index: 1001;
    }
        .navbar_content{
            display: flex;
            .logo{
            width: 300px;
            }
             ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 1rem 0;
        justify-content: center;
        width: 100%;
    }
}

    .navbar_content li {
        display: flex;
        align-items: center;

        a {
        text-decoration: none;
        color: #e4d0ff;
        font-size: 18px;
        font-weight: 500;
        transition: 0.2s;
        font-family: Arial, Helvetica, sans-serif;
        font-style: semibold;
        }

        &:hover {
            color: #c084fc;
            text-shadow: 0 0 10px rgba(192, 132, 252, 0.8);
        }
    }
    /* Classe helper à ajouter sur le conteneur principal pour éviter le chevauchement */
    .with-navbar {
        padding-top: 64px; /* Ajuste selon la hauteur réelle de ta navbar */
    }
}



